<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html" charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

  <link rel="stylesheet" type="text/css" href="{{asset "css/app.css"}}"/>

  <script type="text/javascript" src="{{asset "js/app.js"}}"></script>

  <title>{{@blog.title}}</title>

  {{ghost_head}}
</head>
<body class="{{body_class}}">

<div class="container mx-auto lg:mr-0 lg:ml-10 mb-16 p-2 sm:p-0 xl:pr-32">
  <a id="site-title" class="text-3xl inline-block mt-10 -ml-1" href="/">{{@blog.title}}</a>
  {{navigation}}
  {{{body}}}
</div>

{{ghost_foot}}
</body>
</html>
