<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html" charset="utf-8"/>

    <link rel="stylesheet" type="text/css" href="{{asset "css/main.css"}}"/>

    <script type="text/javascript" src="{{asset "js/index.js"}}"></script>

    <title>{{@blog.title}}</title>

    {{ghost_head}}
</head>
<body class="{{body_class}}">

<div id="content">
    <div id="title"><a id="logo" href="/">{{@blog.title}}</a></div>
    {{navigation}}
    {{{body}}}
</div>

{{ghost_foot}}
<script> setMaxPage({{pagination.pages}}); </script>
</body>
</html>
