<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>

    {{! Style and Scripts }}
    <link rel="stylesheet" type="text/css" href="{{asset "css/custom.css"}}"/>
    <link rel="shortcut icon" href="{{asset "/favicon.ico"}}" type="image/x-icon">

    {{! The main JavaScript file for Readable }}
    <script type="text/javascript" src="{{asset "js/jquery-3.1.1.min.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/jquery.infinitescroll.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/jquery.fitvids.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/index.js"}}"></script>

    <title>{{@blog.title}}</title>

    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
</head>
<body class="{{body_class}}">

{{! Everything else gets inserted here }}
<div id="content">
    <div class="title"><a id="logo" href="/">{{@blog.title}}</a></div>
    {{{body}}}
</div>

{{! Ghost outputs important scripts and data with this tag }}
{{ghost_foot}}

</body>
</html>
