{{!< default}}
<div id="wrapper">
  <div id="scroller">
    <ul>
      {{#foreach posts}}
      <li class="post post-body">
          {{content}}

          <div class="post post-foot">
              <div class="post-foot-right">
                  <time datetime="{{date format="YYYY-MM-DD"}}">{{date format='DD/MM/YY'}}</time>
              </div>
              <div>
                  {{#if tags}}{{tags separator=" "}}{{/if}}
              </div>
          </div>
      </li>
      {{/foreach}}
  </ul>
  </div>
</div>

{{!! After all the posts, we have the previous/next pagination links }}
{{pagination}}
