{{!< default}}
<div id="wrapper">
    {{#foreach posts}}
    <div class="post w-1/3 inline-block mb-3 pr-3">
        {{content}}
        <div class="post-foot flex justify-between mt-1 text-xxs sm:text-xs">
            <div class="flex-grow">
                {{#has tag="#show_title"}}
                    <span class="text-grayish">{{title}} / </span>
                {{/has}}
                {{#if tags}}
                    {{tags separator=" / "}}
                {{/if}}
            </div>
            <div class="flex-none pl-2">
                <time datetime="{{date format="YYYY-MM-DD"}}">{{date format='DD/MM/YY'}}</time>
            </div>
        </div>
    </div>
    {{/foreach}}
</div>
{{> loading}}
{{pagination}}
