{{!< default}}
<div id="wrapper">
    {{#foreach posts}}
    <div class="post w-full inline-block mb-6">
        {{content}}
        <div class="post-foot flex justify-between mt-1 text-xs">
            <div>
                {{#has tag="#show_title"}}
                    <span class="text-grayish">{{title}} / </span>
                {{/has}}
                {{#if tags}}
                    {{tags separator=" / "}}
                {{/if}}
            </div>
            <div>
                <time datetime="{{date format="YYYY-MM-DD"}}">{{date format='DD/MM/YY'}}</time>
            </div>
        </div>
    </div>
    {{/foreach}}
</div>
{{> 'loading-info'}}
{{pagination}}
