{{!< default}}
<div id="wrapper">
      {{#foreach posts}}
      <div class="post post-body">
          {{content}}
          <div class="post post-foot">
              <div class="post-foot-right">
                  <time datetime="{{date format="YYYY-MM-DD"}}">{{date format='DD/MM/YY'}}</time>
              </div>
              <div class="post-foot-left">
                  {{#if title }}<span class="post-title">{{title}} / </span>{{/if}}
                  {{#if tags}}{{tags separator=" / "}}{{/if}}
              </div>
          </div>
      </div>
      {{/foreach}}
</div>

<div id="info-loading" class="info"></div>

{{!! After all the posts, we have the previous/next pagination links }}
{{pagination}}
